<!doctype html>
<html lang="en">
<head>
	<title>Thrush Designs</title>
	<meta name="description" content="Thrush Designs">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="css/app.css">
	<script type="text/javascript" src="js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="js/lib/vue.js"></script>
	<script type="text/javascript" src="js/lib/vue-router.js"></script>
	<script type="text/javascript" src="js/components/store-view.js"></script>
	<script type="text/javascript" src="js/components/product-details.js"></script>
	<script type="text/javascript" src="js/components/work-slideshow.js"></script>
	<script type="text/javascript" src="js/components/cart-notification.js"></script>
	<script type="text/javascript" src="js/components/modal.js"></script>
	<script type="text/javascript" src="js/store.js"></script>
	<script type="text/javascript" src="js/menu.js"></script>
	<script type="text/javascript">
		var productsArray =<%-JSON.stringify(products)%>;
	</script>
</head>
<body>
	<div id="bodyContainer">
		<a href="/"><div id="logo"></div></a>
		<nav id="navBar">
			<ul>
				<li>MENU</li>
				<a href="/work"><li>WORK</li></a>
				<a href="#"><li class="active">STORE</li></a>
				<a href="/blog"><li>BLOG</li></a>
				<a href="/about"><li>ABOUT</li></a>
			</ul>
		</nav>
		<cart-notification :show="showNotification">
		</cart-notification>
		<div>
			<router-view></router-view>
		</div>
		<div id="footerSection">
			<div id="footerLogo"></div>
			<div id="whiteFooterLine"></div>
			<div id="footerBird"></div>
			<div class="footerMenuItem">HOME</div>
			<div class="footerMenuItem">WORK</div>
			<div class="footerMenuItem">STORE</div>
			<div class="footerMenuItem">BLOG</div>
			<div class="footerMenuItem">ABOUT</div>
			<div id="footerCopywrite">Copywrite &copy; 2018 All rights reserved.</div>
		</div>
		<div id="mobileMenu">
			<div id="closeMenu"></div>
			<div>
				<div>
					<div><a href="/work">WORK</a></div>
					<div><a href="/store">STORE</a></div>
					<div><a href="/blog">BLOG</a></div>
					<div><a href="/about">ABOUT</a></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>